/*-- scss:defaults --*/

/*-- Define colors to use later --*/
$white: #ffffff;
$primary: #244855;
$secondary: #E64833;
$tertiary: #874f41;
$quaternary: #90AEAD;



.navbar {
  background-color: $primary !important;
  color: #fdfefe;
}

.thumbnail-image {
  max-width: 230px;
  margin-top: 0em !important;
}

.navbar-logo {
  height: 40px !important;
  width: 40px !important;
  max-height: 40px !important;
}


/*-- Define fonts --*/
$font-family-base: "Roboto";









/*-- scss:rules --*/