/*-- scss:defaults --*/

/*-- Define colors to use later --*/
$white: #ffffff;
$primary: #244855;
$secondary: #E64833;
$tertiary: #874f41;
$quaternary: #90AEAD;



.navbar {
    background-color: $primary !important;
    color: #fdfefe;
}


/*-- Define fonts --*/
$font-family-base: "Roboto";









/*-- scss:rules --*/