/*-- scss:defaults --*/

/*-- Define colors to use later --*/
$white: #ffffff;
$primary: #244855;
$secondary: #e64833;
$tertiary: #874f41;
$quaternary: #90aead;

$navbar-color: $primary;


/*-- Define fonts --*/
$font-family-base: "Roboto";









/*-- scss:rules --*/